* {
  margin: 0;
  border: 0;
}

body {
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto;
}

h1 {
  margin: 30px 0;
  text-align: center;
}

.text-box>textarea {
  border: 1px solid black;
  width: 100%;
  min-height: 100px;
  font-size: 30px;
}

table {
  width: 100%;
}
tr {
  display: flex;
  justify-content: space-between;
}
th {
  text-align: left;
  width: 100%;
}
td {
  width: 100%;
  overflow-x: auto;
}
button {
  display: block;
  width: 10%;
  height: 50px;
  margin-left: auto;
  cursor: pointer;
}